.jumbotron {
  padding: 30px;
  margin: 0;
  background: linear-gradient(45deg, #1c1118 0%, #1d1115 50%, #842016 100%); }

a > img {
  height: 150px;
  width: 150px; }

img {
  margin: 10px; }

body > p {
  margin-bottom: 15px; }

body {
  background-color: #842016; }

a {
  color: #ffca35; }

.btn {
  display: none; }

.card {
  display: none; }

.list-group-item {
  background-color: #1d1115;
  color: #ffca35; }

a:hover {
  color: #1c1118; }

.navbar {
  border: 1px solid #1c1118; }
